body {
    background-color: rgb(100, 100, 199) !important;
  }
  
  .navbar-brand {
    font-family: "Permanent Marker", cursive;
  }

  .form-container {
    background: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    width: 90%;
}
  .form {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }

  .footer {
    margin-top: 50px; /* Separa el footer de las imágenes */
    background-color: rgb(236, 236, 236); /* Color de fondo */
    padding: 20px;
    text-align: center; /* Centra el contenido */
    color: black; /* Color del texto */
    text-decoration: none;
    font-weight: bold; /* Hacer el texto más grueso */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8); /* Agregar sombra para simular un borde */
  }
  
  .image-footer {
    width: 100px;
    height: auto;
    margin: 0 center; /* Centrar la imagen */
    flex-direction: column; /* Hace que la imagen y el texto estén en columna */
    align-items: center; /* Centra la imagen y el texto */
    flex-shrink: 0; /* Evita que las imágenes se encojan */
    margin: 0;
    cursor: pointer;
  }
  
  .text-footer {
    display: block; /* Para que el texto esté en una nueva línea */
    text-decoration: none;
    font-family: "Permanent Marker", cursive;
    font-weight: 400;
    font-style: normal;
    color: black;
    margin-top: 10px; /* Espacio entre la imagen y el texto */
  }
    
  #icono-telefono {
    color: black;
    border-radius: 30%;
  }
  
  .material-icons {
    font-size: 24px; /* Tamaño del icono */
    color: #ff5733; /* Cambia el color */
    vertical-align: middle; /* Alinea con el texto */
    margin-right: 5px; /* Espaciado a la derecha */
  
  }

  .iconosFooter i, .iconos {
    color: black !important;
}

  
  .link {
    text-decoration: none;
    color: black;
  }
  
  .iconos {
    font-size: 20px;
    padding-left: 2%;
    padding-right: 2%;
  }

  /*-------------------------------------------------------*/

  #modeToggle {
    top: 10px;
    right: 10px;
    padding: 10px 20px;
    background-color: #26282b;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    z-index: 9999;
  }

  .dark-mode #modeToggle {
    background-color: #ccd7e4;
    color: #000000;
  }
  
  body.dark-mode {
    background-color: #003369 !important;
    transition: background-color 0.3s ease, color 0.3s ease;
  }

  .dark-mode .navbar-brand {
    font-family: "Permanent Marker", cursive;
    color: beige;
  }
  
  /* Modificar el color de fondo del navbar */
  .dark-mode #navbar1 .container-fluid {
    background-color: #26282b; /* Cambia a cualquier color que desees */
  }
  
  /* Modificar el color de la letra del navbar */
  .dark-mode #navbar1 .navbar-nav .nav-link {
    color:white; /* Cambia a cualquier color que desees */
  }


/* Modo oscuro */
.dark-mode {
  background-color: #121212;
  color: white;
}

.dark-mode .form-container {
  background: #1e1e1e;
  box-shadow: 0px 4px 10px rgba(255, 255, 255, 0.1);
}

.dark-mode input,
.dark-mode textarea {
  background: #333;
  color: white;
  border: 1px solid #555;
}

.dark-mode button {
  background: #007bff;
  color: white;
  border: none;
}

  /*FOOTER*/

body.dark-mode .footer {
  margin-top: 5%; /* Separa el footer de las imágenes */
  background-color: #26282b; /* Color de fondo */
  padding: 2%;
  text-align: center; /* Centra el contenido */
  color: beige; /* Color del texto */
  text-decoration: none;
  }
  
  body.dark-mode .text-footer {
  display: block; /* Para que el texto esté en una nueva línea */
  text-decoration: none;
  font-family: "Permanent Marker", cursive;
  font-weight: 400;
  font-style: normal;
  color: beige;
  margin-top: 1%; /* Espacio entre la imagen y el texto */
  }
  
  body.dark-mode #icono-telefono {
  color: beige;
  border-radius: 30%;
  }
  
  body.dark-mode .material-icons {
  font-size: 24px; /* Tamaño del icono */
  color: #1f62c5; /* Cambia el color */
  vertical-align: middle; /* Alinea con el texto */
  margin-right: 0.5%; /* Espaciado a la derecha */
  
  }
  
  body.dark-mode .link {
  text-decoration: none;
  color: beige;
  }